@import "tailwindcss";

:root {
  --color-primary: #A20010;
  --color-secondary: #2D2D2D;
  --color-accent: #61CE70;
  --color-text-light: #FFFFFF;
  --color-background: #F8F9FA;
  --color-card: #FFFFFF;
}

body {
  font-family: var(--font-roboto), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Componentes personalizados */
.btn-primary {
  background-color: #A10010;
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 0.375rem;
  transition: all 0.2s;
}

.btn-primary:hover {
  background-color: #8a000e;
}

.btn-secondary {
  background-color: #595959;
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 0.375rem;
  transition: all 0.2s;
}

.btn-secondary:hover {
  background-color: #4a4a4a;
}

.btn-accent {
  background-color: #61CE70;
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 0.375rem;
  transition: all 0.2s;
}

.btn-accent:hover {
  background-color: #52b85f;
}
